################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Wims.Domain/bin/Debug/netcoreapp2.1
/src/Wims.Domain/obj
/src/Wims.WebApi/bin/Debug/netcoreapp2.1
/src/Wims.WebApi/obj
/.vs/WIMS-API/v15
