################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/WIMS-API/v15
/src/Wims.WebApi/Wims.WebApi.csproj.user
/src/**/bin
/src/**/obj